
profiles {

    example {
        // https://doi.org/10.1038/s41467-021-22705-z
        params.id       = 'Moreno-Molina et al Lung Resection'
        params.manifest = "$projectDir/resources/lung_example_manifest.tsv"
    }

    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        docker.enabled = false
    }

    docker {
        docker.enabled = true
        docker.userEmulation = true
        singularity.enabled = false
    }
}

process {
    shell = ['/bin/bash', '-euo', 'pipefail']
    errorStrategy = 'finish'
    withLabel: TBtypeR {
        container = 'bahlolab/tbtyper:25.01.0'
    }
    withLabel: fastp {
        container = 'quay.io/biocontainers/fastp:0.23.2--hb7a2d85_2'
    }
    withLabel: align {
        //samtools=1.15.1,bwa=0.7.17
        container = 'quay.io/biocontainers/mulled-v2-fe8faa35dbf6dc65a0f7f5d4ea12e31a79f73e40:8110a70be2bfe7f75a2ea7f2a89cda4cc7732095-0'
    }
    withLabel: bcftools {
        container = 'quay.io/biocontainers/bcftools:1.15.1--h0ea216a_0'
    }
}

