
params.benchmark       = true
params.manifest        = 'manifest.tsv'
params.id              = 'benchmark'
params.ref_fasta       = 'GCA_000195955.2_ASM19595v2_genomic.fna.gz'
params.calling_regions = null

params.panel           = "$projectDir/resources/tbt_panel.tsv.gz" // Optional. Set to null for whole genome.
params.dr_panel        = null
params.min_af          = 0.001
params.max_mix         = 3
params.publish_bams    = false
params.no_report       = true
params.outdir          = 'output'

params.methods = ['TBtypeR', 'MixInfect', 'SplitStrains', 'quanttb', 'fastlin', 'TBProfiler']
params.split_strains_lr_thresh = 3500
params.args_json = '{\\"min_median_depth\\":10}'
params.publish = false
params.multiqc = false
params.mi_calling_regions = "$projectDir/workflows/benchmarking/MixInfect/misc/calling_regions.bed.gz"

