
process {
    shell = ['/bin/bash', '-euo', 'pipefail']
    errorStrategy = 'finish'

    withLabel: bcftools {
        container = 'quay.io/biocontainers/bcftools:1.15.1--h0ea216a_0'
    }

    withLabel: align {
        //samtools=1.15.1,bwa=0.7.17
        container = 'quay.io/biocontainers/mulled-v2-fe8faa35dbf6dc65a0f7f5d4ea12e31a79f73e40:8110a70be2bfe7f75a2ea7f2a89cda4cc7732095-0'
    }
}

